@font-face {
    font-family: hero;
    src: url(herofont.ttf.otf);
}

body{
    font-family: hero;
}

#header{    
    background-color: rgba(116, 65, 65, 0.5);  
    padding: 10px 100px;
    font-size: 25px; 
    font-weight: bold;
    align-items: center;
    align-content: center;
    position: fixed;
    display: flex;
    justify-content:space-between;
    top: 0;
    width: 100%;
    transition: 0.9s;
    z-index: 3000;
}

.left_section{
    text-align: left;
    text-decoration: none;
}

.left_section a{    
    color:#47948e;
    text-decoration: none;
}

.left_section{
    text-align: right;
    text-decoration: none;
}

.right_section a{
    text-decoration: none;
    color:#47948e;
    padding: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#button{
    text-decoration: none #6B7280 solid;
    color: #47948e;
    padding: .75rem 1.2rem;
}

#button1{
    background-color: #550A35;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #47948e;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 20px;
    line-height: 1.5rem;
    font-family: hero;
    padding: .75rem 1.2rem;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    transition: 0.9s;
  }
  
#button2{
      background-color: #550A35;
      border: 1px solid transparent;
      border-radius: .75rem;
      box-sizing: border-box;
      color: #47948e;
      cursor: pointer;
      flex: 0 0 auto;
      font-size: 20px;
      line-height: 1.5rem;
      font-family: hero;
      padding: .75rem 1.2rem;
      text-decoration: none #6B7280 solid;
      text-decoration-thickness: auto;
      transition-duration: .2s;
      transition-property: background-color,border-color,color,fill,stroke;
      transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: auto;
      transition: 0.9s;
}
  
#button1:hover {
    background-color: #374151;
}
  
#button2:hover {
      background-color: #374151;
}
  
#button1:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
  
#button2:focus {
      box-shadow: none;
      outline: 2px solid transparent;
      outline-offset: 2px;
}
  
@media (min-width: 768px) {
    #button1{
      padding: .75rem 1.5rem;
    }
    #button2{
      padding: .75rem 1.5rem;
    }
}
  
html {
      box-sizing: border-box;
      
}
    
  *, *:before, *:after {
      box-sizing: inherit;
}

body{
    height: 0px;
}

.section1{
    height: 800px;
    
}

.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 1;
    opacity: 0.2;
}

.img2{
    margin-left: 50px;
    position: relative;
    margin-left: 40px;
    top: -370px;
    display: inline-block;
    z-index: 1;
    
}

.chat-bubble {
    max-width: 2000px;
    display: inline-block;
    padding: 15px;
    font-size: 40px;
    border-radius: 15px;
    background-color: #FFECB3;
    color: #550A35;
    top: -540px;    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
}

.chat-bubble::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #FFECB3 transparent transparent; 
    top: 20px; 
    left: -10px; 
    z-index: 1;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #FFECB3 25%, #550A35 95%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

#section2{
    height: 1200px;
}

.sub{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 35px;
    color: #550A35;
}

.gallery {
    float: left;
    width: 250px;
    margin: 20px;
    margin-left: 95px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 19px 20px 1px;
    border-radius: 20px;
    flex: 1;
    max-width: 25%;
    position: relative;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFECB3;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 15px;
}
  
.gallery:hover .overlay {
    height: 100%;
    opacity: 1;
}
  
.text {
    white-space: nowrap; 
    color: #550A35;
    font-family: hero;
    font-size: 10px;
    float: left;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.h1{
    margin: 5px;
}

div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
  
div.desc {
    padding: 10px;
    text-align: center;
    color: #550A35;
}

#section3{
    height: 700px;
}

.sub2{
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
    font-size: 35px;
    color: #550A35;
}

.container {
    width: 1000px;
    position: relative;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}

.container .card {
    position: relative;
    border-radius: 10px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background-image: url('newton.jpeg');   
    background-size: cover; 
    background-position: center;    
}

.container .card:nth-child(2) .icon {
    background-image: url('albert.jpeg');   
    background-size: cover; 
    background-position: center; 
}

.container .card:nth-child(3) .icon {
    background-image: url('mark.jpeg');   
    background-size: cover; 
    background-position: center;
}

.container .card:nth-child(4) .icon {
    background-image: url('elon.jpeg');   
    background-size: cover; 
    background-position: center;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.pie{
    background-color:#FFECB3;
    border-radius: 20px;
}

.profile{
    display: inline-block;
    margin-bottom: 20px;
}



.gigo{
    text-align: center;
    
}



.container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container a {
    text-decoration: none;
    color: #414141;
}

#section4{
    height: 700px;
    position: relative;
    top: 70px;
}

.main{
    width: 30%;
    height: 70%;
    margin-left: 773px;
    margin-top: 100px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    position: absolute;
    bottom: auto;
    transition: 2s ease;
    font-family: hero;
}

.main.fixed-bottom {
    position:relative; 
    bottom: 0; 
    transform: translateX(-50%); 
}

#chk{
    display: none;
}

.signup{
    position: relative;
    width:100%;
    height: 100%;
}

label{
    color: #550A35;;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 50px;
    font-family: hero;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input{
    width: 60%;
    height: 10px;
    background: #FFECB3;
    justify-content: center;
    display: flex;
    font-family: hero;
    margin: 20px auto;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    font-family: hero;
    justify-content: center;
    display: block;
    color: #550A35;
    background: #FFECB3;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #550A35;
    color: #FFECB3;
}
.login{
    height: 460px;
    background: #FFECB3;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #550A35;
    transform: scale(.6);
}

#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);	
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}

nav {
    overflow: hidden;
    position: relative;
    top: -670px;
    transform: translateX(-300px);
    height: 100%;
    width: 400px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 50%;
    
    z-index: 5;
}

nav.nav-open {
    transform: translateX(0px);
    border-radius: 0% 0% 0% 0%;
   background: #550A35(255, 255, 255, 0.6);
}

nav .menu-btn {
    position: absolute;
    top: 5%;
    right: 1%;
    padding: 0;
    width: 50px;
    cursor: pointer;
    border-style: solid;
    border-color: #550A35;
    background-color: #FFECB3;
    padding: 7px;
    z-index: 2;
}

nav .menu-btn .line {
    padding: 0;
    width: 30px;
    background: #550A35;
    height: 3px;
    margin: 5px 0px;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

nav .menu-btn .line.line--1 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--1.line-cross {
    width: 30px;
    transform: rotate(45deg) translateY(10px);
   background: rgba(0,0,0,0.6);
}

nav .menu-btn .line.line--2 {
    width: 28px;
    transform: translateX(0);
}

nav .menu-btn .line.line--2.line-fade-out {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

nav .menu-btn .line.line--3 {
    width: 20px;
    transform: rotate(0) translateY(0);
}

nav .menu-btn .line.line--3.line-cross {
    width: 30px;
    transform: rotate(-45deg) translateY(-10px);
   background: rgba(0,0,0,0.6);
}

nav .nav-links {
    position: absolute;
    left: 0;
    top: -150px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links.fade-in {
    opacity: 1;
    transform: translateX(0px);
}

nav .nav-links .link {
    margin: 20px 0;
    text-decoration: none;
    font-family: hero;
    background-clip: text;
    background-image: linear-gradient(to right, #FFECB3, #FFECB3, #FFECB3, #FFECB3);
    color: var(--color-background);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    padding: calc(--stroke-width / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: var(--stroke-width);
    text-align: center;
    color: #550A35;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

nav .nav-links .link:hover {
    color: rgba(0, 0, 0, .5);
}

.welcome {
    position: relative;
    top: -1030px;
    background-clip: text;
    background-image: linear-gradient(to right, #FFECB3, #FFECB3, #FFECB3, #FFECB3);
    color: var(--color-background);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    padding: calc(--stroke-width / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: var(--stroke-width);
    text-align: center;
    color: #550A35;
    font-size: 25px;
}

:root {
    --color-background: #000119;
    --stroke-width: calc(1em / 16);
    --font-weight: 700;
    --letter-spacing: calc(1em / 8);
  }

.wel{
    margin-bottom: 25px;
}
